body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "ArianAMUSerifRegular";
}

header {
  text-align: center;
  background-image: url(../img/bgc.jpg);
  background-attachment: fixed;
  background-position-y: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

section {
  padding-top: 80px;
}

/*navigation*/
.navbar-brand>img {
	-webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  	width: 80%;
}

.navbar-brand {
  	height: 60px;
	padding: 0;
}

.navbar-custom {
  	background: rgba(0, 0, 0, .5);
  	text-transform: uppercase;
  	font-weight: 700;
  	border: none;
}

.navbar-custom .navbar-nav {
  	letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
  	color: white;
}

.navbar-custom .navbar-nav li a:hover {
  	color: #dfba65;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  	color: white;
}

.navbar-custom .navbar-nav li.active a {
  	color: white;
  	background: #dfba65;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  	color: white;
  	background: #dfba65;
}

.navbar-custom .navbar-toggle {
  	color: white;
  	text-transform: uppercase;
  	font-size: 10px;
  	border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  	background-color: #dfba65;
  	color: white;
  	border-color: #dfba65;
}

h1.name {
  	font-size: 80px;
  	text-transform: uppercase;
  	color: #fff;
}

span.skills {
  	font-size: 44px;
  	color: #FFF;
}

/*portfolio*/
.text-center {
  	margin-bottom: 50px;
}

.text-center h2 {
  	font-size: 36px;
  	text-transform: uppercase;
  	margin-bottom: 10px;
}

.item img {
  	width: 100%;
  	margin-bottom: 15px;
}

.masonry-container .col-md-2 {
  	padding-right: 7px;
  	padding-left: 7px;
}

/*about*/
.about_bgc {
  	background: url(../img/about.jpg);
  	background-repeat: no-repeat;
  	background-position: center;
  	-webkit-background-size: cover;
       	-o-background-size: cover;
          	background-size: cover;
}

.about_bgc_item {
  	background-color: rgba(221, 182, 91, .8);
  	padding: 100px 50px;
  	font-size: 20px;
}

/*contacts*/
.loc, .soc {
  	margin-top: 50px;
}

.soc i {
  	font-size: 25px;
  	margin-left: 15px;
  	background-color: #3f3e3c;
  	-webkit-border-radius: 50%;
  	        border-radius: 50%;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	color: #FFF;
  	-webkit-transition: all .7s;
  	   -moz-transition: all .7s;
  	    -ms-transition: all .7s;
  	     -o-transition: all .7s;
  	        transition: all .7s;
}

.soc i:hover {
  	background-color: #7A7A7A;
}

#google-container {
	height: 550px;
}

/*footer*/
footer {
  	color: white;
}

footer .footer-below {
  	padding: 25px 0;
  	background-color: #3f3e3c;
  	text-align: center;
  	letter-spacing: 2px;
}

.preloader_wrapper {
  	background: none repeat scroll 0 0 #333;
  	bottom: 0;
  	height: 100%;
  	left: 0;
  	position: fixed;
  	right: 0;
  	top: 0;
  	width: 100%;
  	z-index: 9999;
}

.preloader {
  	background-image: url("../img/sb_logo.png");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	height: 100px;
  	width: 116px;
  	margin-top: -50px;
  	margin-left: -58px;
  	left: 50%;
  	top: 50%;
  	position: absolute;
}

@font-face {
  	font-family: "ArianAMUSerifRegular";
  	src: url("../fonts/ArianAMUSerifRegular/ArianAMUSerifRegular.eot");
  	src: url("../fonts/ArianAMUSerifRegular/ArianAMUSerifRegular.eot?#iefix")format("embedded-opentype"),
  	url("../fonts/ArianAMUSerifRegular/ArianAMUSerifRegular.woff") format("woff"),
  	url("../fonts/ArianAMUSerifRegular/ArianAMUSerifRegular.ttf") format("truetype");
  	font-style: normal;
  	font-weight: normal;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

  section {
    padding: 75px 0;
  }

  section.first {
    padding-top: 75px;
  }

  .navbar-custom {
    background-color: #333;
  }

  .navbar-header {
    height: 95px;
    padding: 10px;
  }

  .navbar-toggle {
    margin-top: 25px;
  }

  header {
    -ms-background-position-x: 48%;
        background-position-x: 48%;
  }

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  .navbar-custom {
    padding: 25px 0 35px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-custom.affix {
    padding: 15px 0;
    background-color: #333;
  }

  .navbar-custom.affix img {
  	-webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    width: 65%;
  }

  .navbar-right {
    margin-top: 15px;
  }

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}

