@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  header {
    background-image: url(../img/header_background_mob.jpg);
    display: flex;
    padding-top: 35px;
  }
  header .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header .container {
    width: 100%;
    padding: 0 15px;
  }
  header h1 {
    font-size: 36px;
    line-height: 38px;
  }
  header br {
    display: none;
  }
  header .hidden {
    display: block;
  }
  header .buttons {
    display: flex;
    justify-content: space-around;
  }
  header .button {
    position: static;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    padding: 17px 21px;
    transform: none;
  }
  header .blue {
    background-color: #0073AE;
  }
  .design_descktop {
    display: none;
  }
  .design_mobile {
    display: block;
    margin-bottom: 75px;
  }
  .content {
    padding: 30px 0;
  }
  /*Slider*/
  .wrapper_items {
    height: 300px;
  }
  .wrapper_items input {
    display: none;
  }
  .wrapper_items label {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 15px 4px 0;
    position: relative;
    width: 11px;
    background: #e6e6e6;
    border-radius: 50%;
  }
  .wrapper_items .controls {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }
  .slides_content {
    background-color: #FFF;
    padding: 20px 7%;
    position: relative;
    top: -40px;
    height: 300px;
    border-top: 1px solid #e6e6e6;
  }
  .slides_content:after {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 60px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    transform: rotate(45deg);
  }
  .slides_content .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #e6e6e6;
  }
  .slides_content .tab,
  .slides_content .tab1,
  .slides_content .tab2 {
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #585858;
  }
  .slides_content .tab.active,
  .slides_content .tab1.active,
  .slides_content .tab2.active {
    color: #0073ae;
    font-weight: 700;
  }
  .slides_content .tab:hover,
  .slides_content .tab1:hover,
  .slides_content .tab2:hover {
    cursor: pointer;
  }
  .slides_content .tab_content {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
  }
  .slides {
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
    text-align: center;
  }
  .slides img {
    padding: 20px;
    width: 50%;
  }
  #slide1:checked ~ .controls label:nth-of-type(1),
  #slide2:checked ~ .controls label:nth-of-type(2),
  #slide3:checked ~ .controls label:nth-of-type(3) {
    border: 1px solid #585858;
    background: transparent;
  }
  #slide1:checked ~ .slider > .mobile_item_first,
  #slide2:checked ~ .slider > .mobile_item_second,
  #slide3:checked ~ .slider > .mobile_item_third {
    opacity: 1;
    z-index: 1;
  }
  .packages {
    display: block;
  }
  .packages_item {
    width: 100%;
    border: none;
    background: #0073ae;
    margin-bottom: 15px;
    padding: 15px 15px 10px 15px;
    color: #FFF;
  }
  .packages_item.sub_premium {
    margin-top: 45px;
    position: relative;
  }
  .packages_item.sub_premium:before {
    content: "Best value";
    top: -30px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  .packages_item .title {
    position: static;
    background-color: transparent;
    border-bottom: 1px solid #4394c0;
    padding: 0 0 15px 0;
  }
  .packages_item ul {
    margin-top: 0;
    padding: 8px 15px 10px 15px;
    border-bottom: 1px solid #4394c0;
    display: none;
  }
  .packages_item ul .heading {
    display: none;
  }
  .packages_item ul .add_padd {
    padding-bottom: 7px;
  }
  .packages_item ul li {
    position: relative;
    border-bottom: none;
    padding: 7px 20px;
  }
  .packages_item ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    left: -3px;
    top: 10px;
  }
  .packages_item .more {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: -1.5px;
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
  }
  .packages_item .more:after {
    content: "";
    background: url(../img/arrow_down_mob.png);
    display: block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 13px;
    right: -17px;
    transition: all .5s;
  }
  .packages_item .more_text span {
    display: none;
  }
  .packages_item .more_text:after {
    top: 0;
    right: 0;
    transform: rotate(180deg);
  }
  .full_features {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper_items {
    height: 335px;
  }
  .slides img {
    width: 90%;
  }
}
